/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.circle-icon {
    background:grey;
    padding:8px;
    border-radius: 50%;
}

.square {
    background-color: rgb(48, 77, 240);
    width: 70px;
    height: 80px;
    border-radius: 15%;
    margin-right: 5px;;
  }